@using System.Collections.Frozen
@using System.Threading
@using common
@attribute [StreamRendering]

@rendermode InteractiveServer

<div style="height: 600px; overflow:auto;" tabindex="-1">
    <FluentDataGrid ItemsProvider="@itemsProvider"
                    Virtualize
                    ItemSize="40"
                    GenerateHeader="GenerateHeaderOption.Sticky"
                    @ref="@gridComponent">
        <PropertyColumn Title="ID" Property="@(item => item.Id)" />
        <PropertyColumn Title="Status" Property="@(item => item.Status)" />
        <PropertyColumn Title="Last modified by" Property="@(item => item.LastModifiedBy)" />
    </FluentDataGrid>
</div>